<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-width">

    <button type="button" class="btn btn-primary text-color" (click)="home()">Home</button>
    <button type="button" class="btn btn-primary text-color " (click)="products()">Products</button>
    <button type="button" class="btn btn-primary text-color" (click)="about()">About</button>

    <button type="button" class="btn btn-primary text-color" (click)="contacts()">Contacts</button>
    <button type="button" class="btn btn-primary text-color " (click)="terms()">Terms & conditions</button>

  </nav>
